<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Registration</title>
</head>
<body>
    {% if messages %}
        <ul class=" messages text-danger">
            {% for m in messages %}
                <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        <form action="/process_reg" method="post">
            {% csrf_token %}
            <div class="col-sm-6">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" type="text" name="username">
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input class="form-control" type="text" name="email">
                    </div>

                    <div class="form-group">
                        <label for="birthday">Date of Birth:</label>
                        <input class="form-control" type="date" name="birthday">
                    </div>

                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" name="password">
                    </div>

                    <div class="form-group">
                        <label for="pwd_confirm">Confirm Password:</label>
                        <input class="form-control" type="password" name="pwd_confirm">
                    </div>
                    <button class="btn btn-primary">Register</button>
                </div>
            </div>
        
        </form>
        <a href="/login">To login</a>
    </div>
</body>
</html>